<div class="container">
    <div id="signup-content">
        <div id="signup-title">
            <h1>Sign Up</h1>
        </div>
        <div id="signup-body">
            <div class="row">
                <div class="col-1 col-md-1 col-lg-1"></div>
                <div class="col-9 col-md-9 col-lg-9">
                    <div class="signup-description">Fields with (*) sign are mandatory</div>
                    <div class="row signup-input-info">
                        <div class="col-6 col-md-5 col-lg-4">
                            <span>First Name*</span>
                        </div>
                        <div class="col-6 col-md-7 col-lg-8">
                            <input type="text" class="form-control signup-input-button">
                        </div>
                    </div>
                    <div class="row signup-input-info">
                        <div class="col-6 col-md-5 col-lg-4">
                            <span>Last Name*</span>
                        </div>
                        <div class="col-6 col-md-7 col-lg-8">
                            <input type="text" class="form-control signup-input-button">
                        </div>
                    </div>
                    <div class="row signup-input-info">
                        <div class="col-6 col-md-5 col-lg-4">
                            <span>Email Address*</span>
                        </div>
                        <div class="col-6 col-md-7 col-lg-8">
                            <input type="text" class="form-control signup-input-button">
                        </div>
                    </div>
                    <div class="row signup-input-info">
                        <div class="col-6 col-md-5 col-lg-4"></div>
                        <div class="col-6 col-md-7 col-lg-8">
                            <input type="text" class="form-control signup-input-button" disabled placeholder="fG2yQ23" style="text-align: center; font-size: 35px;">
                        </div>
                    </div>
                    <div class="row signup-input-info">
                        <div class="col-6 col-md-5 col-lg-4">
                            <span>Captcha*</span>
                        </div>
                        <div class="col-6 col-md-7 col-lg-8">
                            <input type="text" class="form-control signup-input-button">
                        </div>
                    </div>
                </div>
                <div class="col-2 col-md-2 col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-8">
                    <button type="button" class="submit-button" (click)="signOtpVerification()">Sign Up</button>
                </div>
            </div>
    </div>
</div>